@charset 'utf-8';


img{
    max-width: auto;
    width: 500px;
    height: 400px;
}

.pos1{
    position: absolute;
    top: 15%;
    left: 0%;

}

.pos2{
    display: inline-block;
    width: 600px;
    height: 350px;
    position: absolute;
    top: 15%;
    left: 40%;
    background: green;
}

#menubar{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menubar li{
    width: 10%;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menubar li a{
    width: auto;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    background: #666;
}

#menubar li a:hover{
    background: #555;
}
